
.footer {
    padding-top: 10px;
    background-color: #D8A0A6;
    color: white;
}

.footer-text {
    display:block;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: underline;
    color: bisque;
}