/* css file for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;

    background-color: #D8A0A6;
    color: white;
}
  
.navbar-left, .navbar-right, .navbar-center{
    display: block;

    padding: 10px;

    border-color: #2B2B2C;
    
    text-decoration: none;
    color: white;
    font-size: 20px;

    background-color: #D8A0A6;
    font-family: 'FjallaOne', sans-serif, Arial;
}

.navbar-left:hover, .navbar-right:hover{
    
    transition: 0.2s;
    background-color: white;
    color:#D8A0A6;
    cursor: pointer;
}
  
.navbar-left {
    float: left;
    border-right-style: solid;
}
  
.navbar-right {
    float: right;
    border-left-style: solid;
}