@font-face {
  font-family: 'FjallaOne';
  src: local("FjallaOne-Regular"), url('./fonts/FjallaOne-Regular.ttf') format("truetype");
} 

h1 {
  font-family: 'FjallaOne', sans-serif, Arial;
}
a {
  font-family: 'FjallaOne', sans-serif, Arial;
}
p {
  font-family: 'FjallaOne', sans-serif, Arial;
}
label {
  font-family: 'FjallaOne', sans-serif, Arial;
}
h2 {
  font-family: 'FjallaOne', sans-serif, Arial;
}
input {
  font-family: 'FjallaOne', sans-serif, Arial;
}
button {
  font-family: 'FjallaOne', sans-serif, Arial;
}

h3 {
  font-family: 'FjallaOne', sans-serif, Arial;
}

li {
  font-family: 'FjallaOne', sans-serif, Arial;
}

.password-req-list {
  padding-bottom: 20px;
}

.App {
  text-align: center;
  background-color: #2B2B2C;
  color:#D8A0A6;
}

.introduction {
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.row1 {
  display: flex;
  margin-top: 50px;
}

.imgRow1 {
  flex: 33.33%;
  padding: 30px;
}
  
.Climber {
  height: 300px;
  width: 200px;
}

.BadassWalk {
  height: 300px;
  width: 200px;
}

.Dancer {
  height: 300px;
  width: 200px;
}

.row2 {
  display: flex;
  margin-top: 50px;
}

.imgRow2 {
  flex: 33.33%;
  padding: 30px;
}

.Baseball {
  height: 300px;
  width: 200px;
}

.Skiier {
  height: 300px;
  width: 200px;
}

.Football {
  height: 300px;
  width: 200px;
}

.LoopCinemasLogo {
  width: 100%;
}